<div style="position:fixed;" data-role="view" data-title="View" data-layout="main" data-model="app.newsView" data-show="app.newsView.onShow" data-after-show="app.newsView.afterShow" id="newsViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #352308 0%, #371e00 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid">
        <div class="cols-10" style="position:absolute;top:0px;width:100%;">
            <img src="images/PopUp.png" style="width:100%;"/>
        </div>
        <div class="cols-10 tac" style="text-align:center;padding-top:110%;position:absolute;width:100%;padding-left:20px;padding-right:20px;">
            <span style="color: white;font-size: x-large;font-family: cursive;font-style: italic;">2. Suscribete y no te pierdas nuestras promociones</span>
            <br/><br/>
            <input style="color: #afafaf;padding: 10px 15px;border-radius: 3px;border:none;" placeholder="e-mail"/>
        </div>
    </div>
</div>