<div data-role="view" data-title="View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #ff8a0a 0%, #ff6d0a 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid">
        <div class="cols-10">
            <img src="images/Splash.png" />
        </div>
    </div>
</div>