<div style="position:fixed;" data-role="view" data-title="View" data-layout="main" data-model="app.menuView" data-show="app.menuView.onShow" data-after-show="app.menuView.afterShow" id="menuViewScreen" class="screen">
    <header data-role="header" style="display:none;">
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #f6a426 0%, #ff8a00 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid" id="popUp1">
        <div class="cols-10" style="position:absolute;top:0px;width:100%;">
            <img src="images/PopUp.png" style="width:100%;"/>
        </div>
        <div class="cols-10 tac" style="text-align:center;padding-top:50px;position:absolute;width:100%;">
            <span style="color: white;font-size: x-large;font-family: cursive;font-style: italic;">1. Selecciona una plaza</span>
            <br/><br/>
            <select id="selectPopUp1" style="color: #afafaf;padding: 10px 15px;border-radius: 8px;" onchange="popUp1();">
                <option value="">SELECCIONAR PLAZA</option>
                <option value="forumCuernavaca">FORUM CUERNAVACA</option>
                <option value="islaPuertoVallarta">LA ISLA PUERTO VALLARTA</option>
                <option value="paseoArcos">PASEO ARCOS BOSQUES</option>
                <option value="magazine">MAGAZINE</option>
                <option value="plazasOutletLerma">LAS PLAZAS OUTLET LERMA</option>
                <option value="forumBuenavista">FORUM BUENAVISTA</option>
                <option value="paseoInterlomas">PASEO INTERLOMAS</option>
                <option value="islaAcapulco">LA ISLA ACAPULCO</option>
                <option value="forumTlaquepaque">FORUM TLAQUEPAQUE</option>
                <option value="forumCoatzacoalcos">FORUM COATZACOALCOS</option>
                <option value="forumCualiacan">FORUM CULIACAN</option>
                <option value="forumTepic">FORUM TEPIC</option>
                <option value="forumCancun">FORUM CANCUN</option>
                <option value="islaMeridaCaboNorte">LA ISLA MERIDA CABO NORTE</option>
                <option value="islaCancun">LA ISLA CANCUN</option>
                <option value="plazasOutletCancun">LAS PLAZAS OUTLET CANCUN</option>
                <option value="plazasOutletGuadalajara">LAS PLAZAS OUTLET GUADALAJARA</option>
                <option value="plazasOutletMonterrey">LAS PLAZAS OUTLET MONTERREY</option>
                <option value="paseosCoapa">PASEOS COAPA</option>
                <option value="paseosQueretaro">PASEOS QUERETARO</option>
                <option value="paseosMetepec">PASEOS METEPEC</option>
                <option value="paseosXochimilco">PASEOS XOCHIMILCO</option>                                     
            </select>
        </div>
    </div>
    <div class="grid" id="popUp2" style="display:none;">
        <div class="cols-10" style="position:absolute;top:0px;width:100%;">
            <img src="images/PopUp.png" style="width:100%;"/>
        </div>
        <div class="cols-10 tac" style="text-align:center;padding-top:110%;position:absolute;width:100%;padding-left:20px;padding-right:20px;">
            <span style="color: white;font-size: x-large;font-family: cursive;font-style: italic;">2. Suscribete y no te pierdas nuestras promociones</span>
            <br/><br/>
            <div class="input-group">
                <input type="text" id="emailNewsletter" class="form-control" placeholder="e-mail" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;border:none;">
                <span class="input-group-btn">
                    <button onclick="popUp2();" class="btn btn-default" type="button" style="padding:7px;margin-left:-4px;border:none;font-weight:bold;">&gt;</button>
                </span>
            </div>
            <br/><br/>
            <button onclick="popup3();" class="btn btn-default" type="button" style="padding:7px;margin-left:-4px;font-weight:bold;background-color:#36250f;color:white;border:1px solid;">Saltar este paso</button>
        </div>
    </div>
</div>