<div data-role="view" data-title="View" data-layout="main" data-model="app.eventosView" data-show="app.eventosView.onShow" data-after-show="app.eventosView.afterShow" id="eventosViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text insideHeader" style="">
            <span style="display:grid;">EVENTOS</span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid" >
        <div class="tac insideGrid" style="text-align:center;padding-top:10px;width:100%;">
            <div class="col-xs-2 tac"><a href="javascript:app.mobileApp.navigate('#:back');"><span style="font-weight:bold;color:white;line-height:40px;font-size:x-large;">&lt;</span></a></div>
            <div class="col-xs-10 tac">
                <select id="selectedPlazaEventos" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:90%;">
                    <option value="">SELECCIONAR PLAZA</option>
                    <option value="forumCuernavaca">FORUM CUERNAVACA</option>
                    <option value="islaPuerto">LA ISLA PUERTO VALLARTA</option>
                    <option value="paseoArcos">PASEO ARCOS BOSQUES</option>
                    <option value="explanadaCancun">EXPLANADA CANCUN</option>
                    <option value="plazasOutlet">LAS PLAZAS OUTLET GUADALAJARA</option>
                </select>
            </div>
            </br></br></br>
        </div>
        <div class="tac" style="padding-top:10px;background-color:white;">
            <img src="images/Eventos.png" style="width:100%;" />
        </div>
    </div>
</div>