<div data-role="view" data-title="View" data-layout="main" data-model="app.novedadesView" data-show="app.novedadesView.onShow" data-after-show="app.novedadesView.afterShow" id="novedadesViewScreen" class="screen">
    <header data-role="header">
        
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #80bd01 0%, #6b9a08 100%);">
            <span>NOVEDADES</span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid" >
        <div class="tac" style="text-align:center;padding-top:10px;width:100%;background-image:linear-gradient(to right, #80bd01 0%, #6b9a08 100%);">
            <select style="color: #afafaf;padding: 10px 15px;border-radius: 3px;">
                <option>SELECCIONAR PLAZA</option>
                <option selected>FORUM CUERNAVACA</option>
                <option>LA ISLA PUERTO VALLARTA</option>
                <option>PASEO ARCOS BOSQUES</option>
                <option>EXPLANADA CANCUN</option>
                <option>LAS PLAZAS OUTLET GUADALAJARA</option>
            </select>
            </br></br></br>
        </div>
        <div class="tac" style="padding-top:10px;background-color:white;">
            <img src="images/Novedades.png" style="width:100%;" />
        </div>
    </div>
</div>