<div style="position:fixed;" data-role="view" data-title="View" data-layout="main" data-model="app.paseoView" data-show="app.paseoView.onShow" data-after-show="app.paseoView.afterShow" id="paseoViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #000000 0%, #282828 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid" style="background-image:linear-gradient(to right, #000000 0%, #282828 100%);height:-webkit-fill-available;min-height:700px;">
        <div class="col-xs-12 tac"><img src="images/logo-paseo.png" style="width:30%;"/></div>
        <div class="col-xs-12 tac" style="padding-top:25px;width:100%;">
            <select id="selectedPlazaPaseo" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;">
                <option value="">SELECCIONAR PLAZA</option>
                <option value="forumCuernavaca">FORUM CUERNAVACA</option>
                <option value="islaPuerto">LA ISLA PUERTO VALLARTA</option>
                <option value="paseoArcos" selected>PASEO ARCOS BOSQUES</option>
                <option value="explanadaCancun">EXPLANADA CANCUN</option>
                <option value="plazasOutlet">LAS PLAZAS OUTLET GUADALAJARA</option>
            </select>
            <hr/>
        </div>
        <div class="col-xs-6 tac" style="border-right:1px solid #fff;" onclick="javascript:app.mobileApp.navigate('components/promocionesView/view.html');">
            <img src="images/promociones-icon.png" style="width:40%;cursor:pointer;"/><br/><br/>
            <span style="color:white;cursor:pointer;">Promociones</span>
        </div>
        <div class="col-xs-6 tac" style="border-right:1px solid #fff;" onclick="javascript:app.mobileApp.navigate('components/novedadesView/view.html');">
            <img src="images/novedades-icon.png" style="width:40%;cursor:pointer;"/><br/><br/>
            <span style="color:white;cursor:pointer;">Novedades</span>
        </div>
        <div class="col-xs-12"><hr/></div>
        <div class="col-xs-6 tac" style="border-right:1px solid #fff;" onclick="javascript:app.mobileApp.navigate('components/eventosView/view.html');">
            <img src="images/eventos-icon.png" style="width:40%;cursor:pointer;"/><br/><br/>
            <span style="color:white;cursor:pointer;">Eventos</span>
        </div>
        <div class="col-xs-6 tac" style="border-right:1px solid #fff;" onclick="javascript:app.mobileApp.navigate('components/tiendasView/view.html');">
            <img src="images/tiendas-icon.png" style="width:40%;cursor:pointer;"/><br/><br/>
            <span style="color:white;cursor:pointer;">Tiendas</span>
        </div>
        <div class="col-xs-12"><hr/></div>
        <div class="col-xs-6 tac" style="border-right:1px solid #fff;" onclick="javascript:app.mobileApp.navigate('components/contactoView/view.html');">
            <img src="images/contacto-icon.png" style="width:40%;cursor:pointer;"/><br/><br/>
            <span style="color:white;cursor:pointer;">Contacto</span>
        </div>
        <div class="col-xs-6 tac" style="border-right:1px solid #fff;" onclick="javascript:app.mobileApp.navigate('components/ubicacionView/view.html');">
            <img src="images/ubication-icon.png" style="width:40%;cursor:pointer;"/><br/><br/>
            <span style="color:white;cursor:pointer;">Ubicación</span>
        </div>
        <div class="col-xs-12"><hr/></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-2 tac"><img src="images/mail-icon.png" style="width:100%;cursor:pointer;" /></div>
        <div class="col-xs-2 tac"><img src="images/instagram-icon.png" style="width:100%;cursor:pointer;" /></div>
        <div class="col-xs-2 tac"><img src="images/twitter-icon.png" style="width:100%;cursor:pointer;" /></div>
        <div class="col-xs-2 tac"><img src="images/facebook-icon.png" style="width:100%;cursor:pointer;" /></div>
        <div class="col-xs-2 tac"><img src="images/youtube-icon.png" style="width:100%;cursor:pointer;" /></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-12 tac" style="padding:20px 0px;color:white;">
            <span>Gracias por suscribirte</span>
        </div>
    </div>
</div>