<div data-role="view" data-title="View" data-layout="main" data-model="app.promocionesView" data-show="app.promocionesView.onShow" 
    data-after-show="app.promocionesView.afterShow" id="promocionesViewScreen" class="screen" style="">
    <header data-role="header">
        <div data-role="navbar" id="" class="header-text insideHeader" style="">
            <span style="display:grid;">PROMOCIONES</span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid" >
        <div id="" class="tac insideGrid" style="text-align:center;padding-top:10px;width:100%;">
            <div class="col-xs-2 tac"><a href="javascript:app.mobileApp.navigate('#:back');"><span style="font-weight:bold;color:white;line-height:40px;font-size:x-large;">&lt;</span></a></div>
            <div class="col-xs-10 tac">
                <select id="selectedPlazaPromociones" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:90%;">
                    <option value="">SELECCIONAR PLAZA</option>
                    <option value="forumCuernavaca">FORUM CUERNAVACA</option>
                    <option value="islaPuerto">LA ISLA PUERTO VALLARTA</option>
                    <option value="paseoArcos">PASEO ARCOS BOSQUES</option>
                    <option value="explanadaCancun">EXPLANADA CANCUN</option>
                    <option value="plazasOutlet">LAS PLAZAS OUTLET GUADALAJARA</option>
                </select>
            </div>
            </br></br></br>
            <div class="cols-10" style="text-align:left;padding:0px 20px;padding-top:10px;">
                <span style="font-weight: bold;color: white;font-size: medium;">Ordenar por :</span>
                <br/>
                <select style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;">
                    <option>Categoria</option>
                </select>
                <br/>
                <input type="text" placeholder="Buscar" style="color:white;background-color: rgba(255,255,255,.2);border: none;padding: 10px 15px;border-radius: 10px;width: 100%;margin-top: 10px;" />
                <br/><br/><br/>
            </div>
        </div>
        <div id="promocionesResponse" class="tac" style="padding-top:10px;background-color:white;">
            <!--<div class="row" style="padding:20px 10px 0px;">
                <div class="col-xs-12">
                    <img src="http://167.114.156.36:8042/images/librariesprovider14/promociones-la-isla-cancun/30-10-2017-juliobuenfin.jpg" style="width:100%;"/>
                </div>
                <div class="col-xs-12" style="margin-top:20px;text-align:left;padding:0px 30px;">
                    <span>15% de descuento en la tienda + meses sin intereses</span>
                    <br/>
                    <a href="#">Leer más</a>
                </div>
                <div class="col-xs-12 tal" style="margin:20px 0px 10px;padding:0px 30px;">
                    <span>Del 30-10-2017 al 30-10-2017</span>
                    <br/>
                    <a href="#">Terminos y condiciones</a>
                    <hr/>
                </div>
                <div class="col-xs-6 tal" style="padding-left:30px;"><img src="images/dummy-icon.png" style="width:30px;"/></div>
                <div class="col-xs-6 tar" style="padding-right:30px;"><img src="images/dummy-icon.png" style="width:30px;"/></div>
                <div class="col-xs-12"><hr style="border:5px solid #dcdcdc;"/></div>
            </div>-->
        </div>
    </div>
</div>