<div data-role="view" data-title="View" data-layout="main" data-model="app.contactoView" data-show="app.contactoView.onShow" data-after-show="app.contactoView.afterShow" id="contactoViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text insideHeader" style="">
            <span style="display:grid;" class="titleHeader"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_contactoView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="grid insideGrid" style="padding:10px 20px;">
        <div class="col-xs-12" style="text-align:center;">
            <a href="javascript:goToView(getCookie('initial'));"><img src="images/gicsalogo1.png" style="width:100%;cursor:pointer;"/><hr/></a>
        </div>
        <div class="tac" style="width:100%;">
            <span style="font-weight: bold;color: white;font-size: medium;">PONTE EN CONTACTO CON NOSOTROS</span>
            <br/><br/>
        </div>
        <div style="width:50%;overflow: auto;padding:3px 5px;">
            <input type="text" placeholder="NOMBRE" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;"/>
        </div>
        <div style="width:50%;overflow: auto;padding:3px 5px;">
            <input type="text" placeholder="TIPO DE CONSULTA" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;"/>
        </div>
        <div style="width:100%;overflow: auto;padding:3px 5px;">
            <input type="text" placeholder="CORREO ELECTRÓNICO" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;"/>
        </div>
        <div style="width:50%;overflow: auto;padding:3px 5px;">
            <input type="text" placeholder="PAÍS" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;"/>
        </div>
        <div style="width:50%;overflow: auto;padding:3px 5px;">
            <input type="text" placeholder="TELÉFONO" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;"/>
        </div>
        <div style="width:100%;overflow: auto;padding:3px 5px;">
            <input type="text" placeholder="MENSAJE" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;height:100px;"/>
        </div>
        <div class="" style="margin-top:30px;width:100%;">
            <img src="images/Code.png" />
            <br/>
        </div>
        <div class="" style="margin-top:30px;width:100%;">
            <span style="font-weight: bold;color: white;font-size: medium;">Escribe el código de arriba.</span>
            <br/>
        </div>
        <div style="width:70%;overflow: auto;padding:3px 5px;">
            <input type="text" value="" style="color: #afafaf;padding: 10px 15px;border-radius: 3px;width:100%;"/>
        </div>
        <div style="width:30%;overflow: auto;padding:3px 5px;">
            <input type="button" value="ENVIAR" style="color: white;padding: 10px 15px;border-radius: 3px;width: 100%;background: #ec7a00;border: none;"/>
        </div>
        <div class="" style="margin-top:30px;width:100%;">
            <span style="font-weight: bold;color: white;font-size: medium;">Jacarandas 103 col. Flores Magón Cuernavaca, Morelos.</span>
            <br/>
        </div>
        <div style="width: 100%"><iframe id="contactoIframe" width="100%" height="400" src="https://www.mapsdirections.info/crear-un-mapa-de-google/map.php?width=100%&height=600&hl=en&q=Forum%20Cuernavaca+(GICSA)&ie=UTF8&t=&z=14&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear mapa interactivo</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe></div><br />
    </div>
    <!-- END_CUSTOM_CODE_contactoView -->
</div>