<div style="position:fixed;" data-role="view" data-title="View" data-layout="main" data-model="app.ubicacionView" data-show="app.ubicacionView.onShow" data-after-show="app.ubicacionView.afterShow" id="ubicacionViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text insideHeader" style="">
            <span style="display:grid;">UBICACIÓN</span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div class="grid insideGrid" style="padding:10px 20px;">
        <div class="tac" style="text-align:center;padding-top:10px;width:100%;">
            <div class="col-xs-2 tac"><a href="javascript:app.mobileApp.navigate('#:back');"><span style="font-weight:bold;color:white;line-height:40px;font-size:x-large;">&lt;</span></a></div>
            <div class="col-xs-10 tac">
                <select id="selectedPlazaUbicacion" style="color: #afafaf;padding: 10px 15px;border-radius: 8px;width:100%;">
                    <option value="">SELECCIONAR PLAZA</option>
                    <option value="forumCuernavaca">FORUM CUERNAVACA</option>
                    <option value="islaPuerto">LA ISLA PUERTO VALLARTA</option>
                    <option value="paseoArcos">PASEO ARCOS BOSQUES</option>
                    <option value="explanadaCancun">EXPLANADA CANCUN</option>
                    <option value="plazasOutlet">LAS PLAZAS OUTLET GUADALAJARA</option>
                </select>
            </div>
            </br></br></br>
        </div>
        <div style="width: 100%;margin-top:20px;"><iframe id="ubicacionIframe" width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?origin=mi+ubicacion&destination=forum+cuernavaca&key=AIzaSyC0LIfIwD5-WT2s6MshjpFiP5tZXULw7LU" allowfullscreen></iframe></div><br />
        </br></br></br>&nbsp;
    </div>
</div>